@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
     var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Home Page";
}
<div class="">
    <div class="text-center home-text">
        <h1 class="">
            Welcome 
            <span class="text-primary">
                @user.EmployeeName!
            </span>
        </h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
</div>


