@model UserSupportManagement.Models.Problem

@{
    ViewData["Title"] = "Create";
}

<div class="container pb-3">
    <h1 class="text-center mt-3">Create</h1>
    <hr />
    @*<h4>Problem</h4>*@

    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="col-md-6 ">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="ProblemTypeId" class="text-center control-label">Problem Type</label>
                    <select asp-for="ProblemTypeId" class ="form-control text-center" asp-items="ViewBag.ProblemTypeId"></select>
                </div>
                @*<div class="form-group">
                    <label asp-for="StatusTypeId" class="control-label"></label>
                    <select asp-for="StatusTypeId" class ="form-control" asp-items="ViewBag.StatusTypeId"></select>
                </div>*@
                <div class="form-group mb-3">
                    <label asp-for="ProblemName" class="control-label text-center">Problem Name</label>
                    <input asp-for="ProblemName" class="form-control" />
                    <span asp-validation-for="ProblemName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ProblemDetails" class="control-label text-center"> Problem Details</label>
                    @*<input asp-for="ProblemDetails" class="form-control" />*@
                    <span asp-validation-for="ProblemDetails" class="text-danger"></span>
                    <textarea class="form-control" asp-for="ProblemDetails"></textarea>
                </div>
                @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>*@
                <div class="form-group text-center mb-3">
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit" value="Create">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-md-3"></div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="text-center col-md-6">
            <div class="d-grid gap-2">
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </div>
        <div class="col col-md-3"></div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
