@model UserSupportManagement.Models.Concern

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

@*<h4>Concern</h4>*@
<hr />
<div class="row justify-content-md-center">
    <div class="col col-md-3"></div>
    <div class="col col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConcernName" class="control-label">Concern Name</label>
                <input asp-for="ConcernName" class="form-control"/>
                <span asp-validation-for="ConcernName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcernShortName" class="control-label">Concern Short Name</label>
                <input asp-for="ConcernShortName" class="form-control"/>
                <span asp-validation-for="ConcernShortName" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-block"/>
            </div>
        </form>
    </div>
    <div class="col col-md-3"></div>
</div>

<div class="row justify-content-md-center">
    <div class="col col-md-3"></div>
    <div class="text-center col-md-6">
        <a class="btn btn-primary btn-block" asp-action="Index">Back to List</a>
    </div>
    <div class="col col-md-3"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
