@model UserSupportManagement.Models.Solution

@{
    ViewData["Title"] = "Edit";
}
<div class="container pb-3">

    <h1 class="text-center mt-3">Edit</h1>
    @*<h4>Solution</h4>*@
    <hr/>
    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SolutionId"/>
                <div class="form-group">
                    <label asp-for="ProblemId" class="control-label">Problem Name</label>
                    <select asp-for="ProblemId" class="form-control text-center" asp-items="ViewBag.ProblemId"></select>
                    <span asp-validation-for="ProblemId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusTypeId" class="control-label">Status Type Name</label>
                    <select asp-for="StatusTypeId" class="form-control text-center" asp-items="ViewBag.StatusTypeId"></select>
                    <span asp-validation-for="StatusTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SolutionDetails" class="control-label"></label>
                    @*<input asp-for="SolutionDetails" class="form-control" />*@
                    <span asp-validation-for="SolutionDetails" class="text-danger"></span>
                    <textarea class="form-control" asp-for="SolutionDetails"></textarea>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive"/> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted"/> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                @*<div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-block"/>
                </div>
            </form>
        </div>
        <div class="col col-md-3"></div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-md-3"></div>
        <div class="text-center col-md-6">
            <a class="btn btn-primary btn-block" asp-action="Index">Back to List</a>
        </div>
        <div class="col col-md-3"></div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
